.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:not(.nopad) {
    padding: 1rem;
  }

  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
  }
}
